<br>
<br>

<div class="container">
  <h1>Restaurante</h1>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
      <form class="forms-sample" [formGroup]="formGroupRestaurante">

        <div class="mb-3">
          <label class="form-label">Nombre del plato</label><input type="text" class="form-control"
            formControlName="nombrePlato" />
        </div>
        <button [disabled]="!formGroupRestaurante.valid" type="button" (click)="guardarData(formGroupRestaurante.value)"
          class="btn btn-primary">
          {{textoBoton}}</button>
      </form>
      <br>
    </div>
    <div class="container col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12 text-center">
      <table class="table">
        <thead>
          <tr>
            <th>Id Plato</th>
            <th>Nombre Plato</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataFormulario">
            <td>{{item?.idPlato}}</td>
            <td>{{item?.nombrePlato}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editar(item.idPlato)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminar(item.idPlato)">Eliminar</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>